.card{
    width: 250px;
    border: 1px solid grey;
}


.img{
    width: 250px;
    height: 230px;
}

.name, title{
    margin: 0;
    padding: 0;
}

.name-prefix{
    display: flex;
    align-items: center;
    gap: 4px;
}
