.profilePage{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profileContent{
    display: flex;
    gap: 20px;
}

.ProfilecontentPage{
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1200px;
    margin-top: 20px;
    gap: 30px;
}

.profile-info{
    padding-left: 10px;
    flex:1;
}

.visitedFriendsList{
    display: flex;
    gap: 10px;
}

.friends-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.friends{
    flex-grow: 1;
}

.info-p{
    position: relative;
    background-color: #fff;
    top: -25px;
    margin-bottom: -25px;
    left: 20px;
    width: 30px;
    text-align: center;
}

.address-p{
    position: relative;
    background-color: #fff;
    top: -35px;
    margin-bottom: -25px;
    left: 20px;
    width: 60px;
    text-align: center;
}

.info-name-title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 8px;
    padding-bottom: 20px;
}

.info-emails{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.profile-info{
    display: flex;
    flex-direction: column;
}


.profile-address-info > *{
    margin: 0;
}

.profile-company-info > *{
    margin: 0;
}

.info-emails  > * {
    margin: 0;
}

.info-name-title > * {
    margin: 0;
}

.info-name-prefix{
    display: flex;
    align-items: center;
    gap: 4px;
}

.profile-address{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-info{
    width: 50%;
    border: 1px solid grey;
}

.profile-address{
    border: 1px solid grey;
    padding: 10px;
}


.profile-address-info{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.friendsContent{
    width: 1200px;
}

.friends-text{
    text-align: left;
}

@media only screen and (max-width: 1250px) {
    .profileContent{
        display: flex;
        flex-direction: column;
    }

    .profile-img{
        width: 1200px;
    }
  }